.contact-page-container {
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contact-page .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-page .contact-content .contact-left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contact-content .contact-left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contact-content .contact-left-side .details {
  margin: 14px;
  text-align: center;
}
.contact-content .contact-left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.contact-content .contact-left-side .details .contact-topic {
  font-size: 18px;
  font-weight: 500;
}
.contact-content .contact-left-side .details .contact-text-one,
.contact-content .contact-left-side .details .contact-text-two {
  font-size: 14px;
  color: #afafb6;
}
.contact-page .contact-content .contact-right-side {
  width: 75%;
  margin-left: 75px;
}
.contact-content .contact-right-side .contact-topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.contact-right-side .contact-input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.contact-right-side .contact-input-box input,
.contact-right-side .contact-input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #5c69ce;
  color: #eee;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.contact-right-side .message-box {
  min-height: 110px;
}
.contact-right-side .contact-input-box textarea {
  padding-top: 6px;
}
.contact-right-side .contact-button {
  display: inline-block;
  margin-top: 12px;
}
.contact-right-side .contact-button button {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-button button:hover {
  background: #5029bc;
}
@media (max-width: 950px) {
  .contact-page {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .contact-page .contact-content .contact-right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .contact-page {
    margin: 40px 0;
    height: 100%;
  }
  .contact-page .contact-content {
    flex-direction: column-reverse;
  }
  .contact-page .contact-content .contact-left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact-page .contact-content .contact-left-side::before {
    display: none;
  }
  .contact-page .contact-content .contact-right-side {
    width: 100%;
    margin-left: 0;
  }
}
