/* footer start */
.footer {
    /* background: var(--secondary-color); */
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 60px;
    background: var(--body-bg-color);
  }
  
  .footer__top {
    display: flex;
  
    justify-content: space-between;
  }
  
  .footer__item-01 h2 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .footer__item-01,
  .footer__item-02,
  .footer__item-03,
  .footer__item-04 {
    width: 260px;
  }
  
  .footer__item-02 h4,
  .footer__item-03 h4,
  .footer__item-04 h4 {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 400;
  }
  
  .footer__item-01 p {
    color: #fff;
    opacity: 75%;
    font-size: 0.9rem;
    margin-bottom: 20px;
    line-height: 30px;
  }
  
  .footer__icon {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  .footer__icon span i {
    color: #fff;
  }
  
  .footer__item-02 p {
    color: #fff;
  }
  .footer__bottom {
    margin-bottom: 0 !important;
    color: #fff;
  }
  .contact__number {
    margin-top: 15px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  
  .contact__number span i {
    opacity: 75%;
  }
  
  .quick__list {
    list-style: none;
  }
  
  .quick__list li {
    line-height: 40px;
  }
  .quick__list li a {
    text-decoration: none;
    color: #fff;
    opacity: 75%;
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  .footer__bottom {
    text-align: center;
    margin-top: 30px;
  }
  
  .footer__bottom p {
    font-size: 0.8rem;
    color: #fff;
    opacity: 75%;
  }
  /* footer end */