.customer__review_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .customer__review_top {
    text-align: center;
  }
  
  .customer__review_top h2 {
    font-size: var(--text-heading);
    color: var(--home-text-color);
    margin-bottom: 5rem;
    position: relative;
  }
  .customer__review_top h2::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 3px;
    background: linear-gradient(to right, #f44336, #9f4db5);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .review_box {
    width: 100%;
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    
  }
  .review_box .review_card {
    height: 300px;
    padding: 40px;
    color: var(--home-text-color);
    line-height: 22px;
    box-sizing: border-box;
    background: var(--card-secondary-color);
    position: relative;
    z-index: 1;
  }
  .review_box .review_card .profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .review_box .review_card .profile .img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
  
  margin-right: 20px;
   overflow: hidden;
  
  }
  .review_box .review_card .profile h3 {
   font-size: 26px;
   color: #f44336;
   margin-bottom: 8px;
  
  }
  #slide {
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .review_sidebar {
    width: 60px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background: var(--card-effect-color);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .review_sidebar .img {
    width: 25px;
    height: 25px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  .review_box .review_card::before {
    content: "";
    width: 110px;
    height: 110px;
    border-bottom-right-radius: 100%;
    background: var(--card-effect-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }
