.visa-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.visa-form-input {
  margin-top: 1rem;
}
.visa-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.visa-page-form {
  margin: 2rem;
  border-top: 2px solid rgb(109, 145, 245);
}
.form-no-border {
  margin: 2rem;
  padding: 0;
}
.visa-page-form-title {
  font-weight: bold;
  color: rgb(109, 145, 245);
}
.loan-amount {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: rgb(222, 232, 241);
}
.custom-input {
  border: 1px solid rgb(199, 185, 185);
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  padding: 1rem;
}
.custom-input:hover {
  border: 1px solid rgb(146, 102, 102);
}
.custom-input:active,
.custom-input:focus {
  border: 1px solid rgb(89, 19, 219);
  outline: none;
}
.preview {
  max-width: 200px;
}

.btn-upload {
  position: absolute !important;
  right: 12px;
}

.file-name {
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
}

.list-group {
  padding: 0;
  margin: 0;
}

.list-header {
  margin-top: 10px !important;
}

.upload-message {
  font-weight: bold;
  color: #63a84e;
}

.upload-message.error {
  color: #da4148;
}

.btn-choose {
  margin-right: 12px !important;
}
.PhoneInputInput {
  height: 3.5rem;
  border: 1px solid rgb(238, 166, 166);
  border-radius: 2px;
}
.PhoneInputInput:active,
.PhoneInputInput:focus {
  outline: 2px solid rgb(106, 106, 240);
  border: none !important;
}
.PhoneInputInput:hover {
  border: 1px solid red;
}

.PhoneInputCountry {
  height: 3.5rem;
}
.recap {
  transform: scale(0.66);
  transform-origin: 0 0;
}
